<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
	<add key="Aragas" value="https://nuget.pkg.github.com/Aragas/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Aragas>
	  <add key="ValidAuthenticationTypes" value="basic" />
      <add key="Username" value="Aragas" />
      <add key="ClearTextPassword" value="00756c31c0f11380a7ade1d17d1267b4296650d7" />
    </Aragas>
  </packageSourceCredentials>
</configuration>