<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
	<add key="MineLib" value="https://homeserver.aragas.org/nuget/v3/index.json" />
	<add key="RecubeNET" value="https://nuget.pkg.github.com/RecubeNET/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <RecubeNET>
	  <add key="ValidAuthenticationTypes" value="basic" />
      <add key="Username" value="Aragas" />
      <add key="ClearTextPassword" value="6d576c3a9c561b1a7e6eb415d1475709fcf5fc21" />
    </RecubeNET>
  </packageSourceCredentials>
</configuration>